@import '../../../Styles/variables.scss';

.header {
  display: flex;
  justify-content: center;
  padding: .9rem 0 .7rem;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px, rgba(20, 0, 120, 0.1) 0px 0px 8px;

  &__image {
    width: 9rem;
  }

  &__menu {
    list-style: none;
    margin: 0;

    &-item {
      font-size: 0.875rem;
      font-family: 'Roboto_Black';
      color: $friday-color;
      cursor: pointer;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.menu__mobile {
  display: none;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  width: 40px;
  height: 36px;

  &-active {
    .menu__mobile-item__first {
      top: 15px;
      transform: rotate(45deg);
    }

    .menu__mobile-item__second {
      opacity: 0;
    }

    .menu__mobile-item__third {
      top: 15px;
      transform: rotate(-45deg);
    }
  }

  &-item {
    display: inline-block;
    background-color: $friday-color;
    border-radius: 3px;
    width: 40px;
    height: 6px;
    position: absolute;
    transition: all .5s ease-in-out;

    &__first {
      top: 0;
    }

    &__second {
      top: 15px;
    }

    &__third {
      top: 30px;
    }
  }
}

@media only screen and (min-width: 900px) {
  &.header {
    &__center {
      width: 95%;
      display: grid;
      grid-column: col-start / col-end;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
      -webkit-transition: background-color ease-in 0.5s;
      transition: background-color ease-in 0.5s;
    }

    &__menu {
      display: grid;
      grid-template-columns: repeat(5, -webkit-max-content);
      grid-template-columns: repeat(5, max-content);
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: end;
      justify-content: flex-end;

      &-item {
        margin-left: 2.3rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .menu__mobile {
    display: inline;
  }

  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: $ninth-color;

    &__menu {
      z-index: 1;
      position: fixed;
      top: 75px;
      left: -100%;
      padding: 1rem;
      background: rgba(0, 0, 0, .8);
      width: calc(100% - 2rem);
      height: calc(100% - 91px);
      transition: all .5s ease-in-out;

      &.header__menu-active {
        left: 0;
      }

      &-item {
        color: $ninth-color;
        font-size: 1.2rem;
        margin-bottom: .5rem;
        display: block;
      }
    }
  }
}