.btn {
  padding: 0 30px;
  height: 36px;
  line-height: 35px;
  font-size: .9rem;
  font-family: "Roboto_Medium";
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-color: transparent;

  &:disabled {
    cursor: no-drop;
  }

  &--green {
    background-color: $primary-color;
    color: $ninth-color;

    &:hover {
      background-color: $secondary-color;
    }
  }

  &--big {
    width: 100%;
  }

  &--stroke {
    border-color: $seventh-color;
    color: $seventh-color;

    &:hover {
      background-color: $seventh-color;
      color: $ninth-color;
    }
  }
}

@media only screen and (max-width: 900px) {
  .btn {
    width: 100%;
  }
}