@font-face {
  font-family: 'fontello';
  src: url('./fonts/fontello/fontello.eot?91411315');
  src: url('./fonts/fontello/fontello.eot?91411315#iefix') format('embedded-opentype'),
    url('./fonts/fontello/fontello.woff2?91411315') format('woff2'),
    url('./fonts/fontello/fontello.woff?91411315') format('woff'),
    url('./fonts/fontello/fontello.ttf?91411315') format('truetype'),
    url('./fonts/fontello/fontello.svg?91411315#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chart-pie-1:before { content: '\e800'; }
.icon-chart-pie-alt:before { content: '\e801'; }
.icon-plus-circled:before { content: '\e802'; }
.icon-plus-circled-1:before { content: '\e803'; }
.icon-plus:before { content: '\e804'; }
.icon-plus-1:before { content: '\e805'; }
.icon-calendar:before { content: '\e806'; }
.icon-calendar-1:before { content: '\e807'; }
.icon-chart-area:before { content: '\f1fe'; }
.icon-chart-pie:before { content: '\f200'; }
.icon-chart-line:before { content: '\f201'; }
.icon-trash-empty:before { content: '\e808'; }
.icon-trash:before { content: '\e809'; }
.icon-spin6:before { content: '\e839'; }

.animate-spin {
  -webkit-animation: spin 2s 3 linear;
  animation: spin 2s 3 linear;
  display: inline-block;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to {
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg)
  }
}
@keyframes spin {
  from {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(359deg);transform:rotate(359deg)
  }
}
