@import './variables.scss';
@import './Fonts.scss';
@import './Fontello.scss';
@import './input.scss';
@import './button.scss';
@import './Table.scss';

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  font-family: "Roboto_Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}