.input-element {
  background-color: transparent;
  width: 100%;
  height: 33px;
  margin: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid $eighth-color;
  box-shadow: none;
  font-size: .9rem;
  font-family: "Roboto_Medium";
  color: $friday-color;
  transition: all .2s ease-in-out;

  &:focus {
    border-bottom: 1px solid $primary-color;
  }

  &.input-element--select {
    cursor: pointer;
    height: 36px;
  }
}

.form {
  &__errors {
    input:invalid {
      border-color: #f73772;
    }
  }
}
