.table {
  border-collapse: collapse;
  width: 100%;
  background-color: $ninth-color;

  thead {
    tr {
      th {
        background-color: $third-color;
        padding: 10px;
        font-family: "Roboto_Medium";
        font-size: .8rem;
        text-align: left;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: $eighth-color;
      }

      &:nth-child(even) {
        @extend :hover;
      }

      td {
        font-weight: unset;
        padding: 10px;
        font-size: .8rem;
        color: $tenth-color;
        line-height: 1.4;
      }
    }
  }
}