@import '../../../Styles/variables.scss';

.toast {
  visibility: hidden;
  max-width: 250px;
  margin: auto;
  color: $ninth-color;
  text-align: center;
  border-radius: 33px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 30px;
  font-size: .9rem;
  white-space: nowrap;

  &__error {
    background-color: $eleventh-color;

    .toast__image {
      background-color: $eleventh-color;
    }
  }

  &__success {
    background-color: $primary-color;

    .toast__image {
      background-color: $primary-color;
    }
  }

  &__image {
    width: 50px;
    height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    color: $ninth-color;
  }

  &__desc {
    color: $ninth-color;
    padding: .7rem 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &__show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
  }

}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}