path {
  cursor: pointer;
}

div.tooltip-chart {
  position: absolute;
  top: 0;
  min-width: 30px;
  min-height: 17px;
  padding: 6px 8px;
  color: #fff;
  font: 12px sans-serif;
  text-decoration: none;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12);
  pointer-events: none;
  opacity: 0;
}
